
/* gradual change background for log in page*/
.gradual-background {
    background-color: #e6e6e6;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

div#welcome{
    font-size: 50px;
    text-align: center;
}



div.title-base{
    position: absolute;
    left: 50%;
}

/* not looking good now !!!!!! */
div.searchbar-base{

}



div.activity-board {

}

div.activity-header-board{
    display: block;
    min-height: 20px;
    margin-bottom: 6px;
}

div.activity-list-board {
    position: relative;
}

div.addcard-board{
    cursor: pointer;
}

div.addlist-board{
    cursor: pointer;
}


div#cross-mark-board{
    color: rgba(99, 100, 86, 0.60);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: absolute; /* top right relative to parent */
    top: 0;
    right: 0;
    cursor: pointer;
}

div.individual-activity-board {
    background: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    min-height: 30px;
    padding: 8px 0 8px 38px;
    position: relative;
}

div.leftpanels-board{
    float: left;
    overflow-x: auto; /* contains list board */
}

.list-board{
    background: #dbdbdb;
    border-radius: 3px;
    float: left;
    margin: 0 5px;
    padding: 4px 3px 3px;
    position: relative;
    width: 250px;
    overflow-y: auto;
}

div.list-card-board{
    margin: 5px 5px 5px 5px;
    background: #ffffff;
    padding: 6px 8px 4px;
    position: relative;
    cursor: pointer;
}

div.rightpanels-board{
    float: right;
    background: #f0f0f0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    bottom: 0;
    padding: 12px 6px 0 12px;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 20;
}



div.boards-group{
    display: block; /* will be toggled by jquery dynamically */
    width: 50%;
    height: 10%;
    margin: 0 auto;
    margin-top: 50px;
}

div.members-group{
    display: none; /* will be toggled by jquery dynamically */
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

/* group member */
div.name-group{

}

/* group member authority */
div.authority-group{
    text-align: right;
}



/*draw boarder for board at index page*/
div.board-index{
    margin: 20px 20px 20px 20px;
    border: 1px solid #8585AD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    height: 150px;
    line-height: 150px; /* allign vertically */
    width: 350px;
    text-align:center; /* allign horizontally */

    cursor:pointer; /*cursor effect*/
    background: #38e1ff; /* background color */
}

/*effect of group link at index page*/
div.group-index{
    cursor:pointer; /*cursor effect*/
}

/* sign in-up form rendering */
div.form-login, div.form-signup{
    position: relative;
    height: 300px;
    width: 500px;
    left: 43%;
    margin: 20px 20px 20px 20px;
    border: 2px solid #a3ad99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #23719f; /* background color */
}

div.innerform-login, div.innerform-signup{
    margin: 20px 20px 20px 20px;
    text-align:center; /* allign words horizontally */
}

/* input rendering  */
div.input-login, div.input-signup{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sorbitol-navbar{
}

.header-user {
    float: right;
    padding-top: 4px;
    display: inline;
} 

.navbar-board {
    float: left;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 14px;
}

.header-btn-text {
    font-weight: bold;
    font-size: 14px;
}

.board-menu-title{
    font-weight: bold;
    color: #939393;
    font: 14px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}   
.board-menu {
    width: 280px;
}

.board-menu-list {
    font-weight: bold;
    font: 14px;
    width: 260px; 
    margin-left:10px;
    margin-bottom: 5px;
    background-color: #E6EFF4;
}

.header-dropdown-menu {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}
.board-menu > a{
    color: #444;
    cursor: pointer;
}
.header-dropdown-menu  > .list-group-item {
    border: 0px;
    font-size: 14px;
}
.head-dropdown-menu-heading {
    font-size: 14px;
    color: #939393;
    font-weight: bold;
}
.add-menu-title {
    font-size: 14px;
    color: #939393;
    display: block;
    font-weight: bold;
}

.add-board-detail {
    display: none;
}

.add-group-detail {
    display: none;
}

.sorbitol-navbar {
    background: linear-gradient(to bottom, #27709b 0, #24688f 100%);
    min-height: 40px;
    height: 40px;
    border-width: 0px;
}

.btn-header {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0, rgba(255,255,255,0.2) 100%);
    border: 0px;
    color: #f3f3f3;
    font-weight: bold;
}

.header-user-add {
    float: left;
    padding-right: 3px;
}
.header-user-user {
    float: left;
    padding-right: 3px;
}
.header-user-notification {
    float: right;
}

.header-user-add > .btn-sm {
    font-size: 14px;
}

.header-user-notification > .btn-sm {
    font-size: 14px;
}

.container-fluid {
    padding-top: 40px;
    clear: both;
    display: block;
    width: auto;
}

.board-detail-panel {
    height: 84px;
    padding-right: 36px;
    background-color: #23719F;
    color: #f6f6f6;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    border: 0px;
}
.board-detail-panel:hover {
    background-color: #1F658E;
}
.board-group-list > li {
    list-style: none;
    float: left;
    width: 25%;
    padding-right: 25px;
}

.board-group-list > li > a{
    text-decoration:none;
}

.sign-panel {
    background-color: #f0f0f0;
    border: 1px solid #bfbfbf;
    padding: 10px; 
    width: 550px;
    margin: auto;
    margin-top: 55px;
}

.sign-panel-title {
    font-size: 18px;
    line-height: 1.2em;
    color: #393939;
    font-weight: bold;
}

.sign-form-group {
    padding-bottom: 5px;
}

.sign-form-error {
    color: #eb3800;
    padding-bottom: 3px;
}

.board-container {
    background-color: rgb(35, 113, 159);
}

.board-header-name > a{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #f6f6f6;
    text-decoration:none;
}

.rename-board-menu-title {
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    text-align: center;
    color: #939393;
    font-weight: bold;
    line-height: 21px;
}

.menu-form {
    float:left;
    padding-left: 5px;
}

.dropdown-menu-form {
    width: 270px;
    padding: 8px;
}
.dropdown-menu-form > label {
    display: block;
    text-align: left;
}

.dropdown-menu-form > input[type="text"] {
    display: block;
    width: 100%;
    float:left;
    background-color: #e9e9e9;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    min-height: 30px;
}
.dropdown-menu-form > input[type="submit"] {
    display: block;
    float:left;
    margin-top: 20px;
}

.side-bar-show-btn {
    float:right;
}


.side-bar-show-btn > a{
    margin-top: 8px;
    color: #f6f6f6;
}

.side-bar-show-btn > a:hover{
    margin-right: 8px;
    color: #f6f6f6;
}

.side-bar {
    width: 246px;
    float: right;
    position: absolute;
    left: -9999px;
    background: #e9e9e9;
    margin-top: 40px;
}

.list-header-board {
    font-size: 15px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-weight: bold;
    padding: 3px 26px 2px 6px;
}

.list-card {
    border-bottom: 1px solid #bdbdbd;
    border-radius: 3px;
}

.list-card:hover {
    background-color: #f2f2f2;
}


.list-card a {
    color: #393939;
    text-decoration: none;
    cursor: pointer;
}

.list-card-hover {
    display: block;
    font-weight: normal;
    margin: 3px 5px 2px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
}

.list-card-badget {
    float: left;
    margin:3px 3px 0px 3px;
    color: #b3b3b3;
}

.list-card-members {
    float: right;
}

.list-cards-add {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #939393;
    margin: -4px -3px -3px;
    padding: 5px 8px 5px;
}


.list-cards-add:hover{
    background: #c3c3c3;
    color: #222;
    text-decoration: underline;
}

.list-cards-add-textarea {
    width: 100%;
}

.list-cards-add-form-control a{
    float:left;
    padding: 3px;
}

.list-cards-add-form-control input[type="submit"]{
    float:left;
}

.board-container{
    margin-top: 40px;
    background-color: rgb(35, 113, 159);
    overflow-x: scroll;
}

.float-header {
    top:40px;
    position:absolute;
    width: 100%
}

.float-header > .right{
    float: right;
}

.float-header > .left{
    float: left;
}

.trans-btn {
    padding: 6px 8px 4px;
    background: rgba(0,0,0,0.12);
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.header-dropdown-menu > .board-menu-title{
    text-align: center;
}

.custom-modal-header > .card-title{
    font: 18px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 18px;
    color: #393939;
    word-wrap: break-word;
    font-weight: bold;
    padding-right: 5px;
}

.custom-modal-header > .header-inline{
    color: #939393;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.card-edit-description {
    text-decoration: underline;
    color: #939393;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 18px;
    padding-top: 15px;
    padding-left: 25px;
}

.card-description > a{
    text-decoration: underline;
    color: #939393;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.edit-card-desc-form-control a{
    padding-right: 480px;
    padding-top: 10px;
}
.card-description-title {
    color: #939393;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
}
.card-description-title a{
    padding-top: 5px;
    color: #939393;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
}