<!DOCTYPE html>
<html>
<head>

  {% if user %}
  <!-- Firebase -->
  <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
  <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.3.2/firebase-simple-login.js'></script>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- self defin css-->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
  <!-- jquery -->
  <script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <script type="text/javascript" src="/static/js/custom.js"></script>
  <script type="text/javascript" src="/static/js/jquery.udraggable.js"></script>  

    <script type='text/javascript'>
      $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
          }
        }
      })

      $(document).on("submit", "form[name='add-board-detail']", function(e){
        e.preventDefault();
        console.log("submited")
        var title = $(this).find("input[name='title']").val();
        if($('div[name=server-error]').length > 0){
          $('div[name=server-error]').remove()
        }
        $.ajax({
          type: "POST",
          url: '/b',
          data: {title: title},
          success: function(result) {
            board_id = result['board_id']
            window.location.href = "/b/"+board_id;
          },
          error: function(msg) {
          }
        })
      })
    </script>

    {% block javascript %}{% endblock %}

  <title>{% block title %}{% endblock %} - sorbitol</title>
</head>

<body>
  <!-- Navbar Begins -->
  {% if user %}
  <div class="sorbitol-navbar navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-board">
      <a id="board-menu" data-toggle="dropdown" class="btn btn-header btn-default btn-sm header-btn-text" href="#">
        <span class="glyphicon glyphicon-tasks header-btn-icon"></span> Boards
      </a>
      <ul aria-labelledby="board-menu" class="board-menu dropdown-menu" role="menu">
        <li class="board-menu-title"><span class="glyphicon glyphicon-tasks"></span> My Boards</li>
        <!-- for board in boards -->
        {% for board in user.get_boards() %}
        <a href="/b/{{board.id}}"><li class="btn board-menu-list">{{board.title}}</li></a>
        {% endfor %}
        <!--end for-->
      </ul>
    </div>

    <div class="header-user">
      <div class="js-open-header-menu header-user-add">
        <a id="add-menu" type="button" data-toggle="dropdown" class="btn btn-header btn-default btn-sm header-btn js-open-add-menu" data-target="#">
            <span class="glyphicon glyphicon-plus header-btn-icon"></span>
        </a>

        <ul aria-labelledby="add-menu" class="header-dropdown-menu-add header-dropdown-menu dropdown-menu list-group" role="menu">
          <li class="add-entry board-menu-title">Add...</li>
          <a class="add-entry js-new-board list-group-item" href="#"><h4 class="head-dropdown-menu-heading list-group-item-heading">New Board...</h4><p class="list-group-item-text">A board is a collection of cards ordered in a list of lists. Use it to manage a project, track a collection, or organize anything.</p></a>
          <div class="add-board">
            <li class="board-menu-title">Create Board</li>
            <form class="add-board-detail" name='add-board-detail'>
              {{ add_board_form.csrf_token }}
              <div class="add-board-title-label">Title</div>
              {{ add_board_form.title(class="add-board-form-title js-stop-propagation", placeholder="Untitled Board") }}
              <input type="submit" class="btn btn-success primary wide js-submit" value="Create" />
            </form>
          </div>


        </ul>
      </div>
      <div class="js-open-header-menu header-user-user">
        <a id="user-menu" type="button" data-toggle="dropdown" class="btn btn-header btn-default btn-sm header-btn header-member js-open-header-member-menu header-btn-text" data-target="#">
            {{user.username}}
        </a>
        <ul aria-labelledby="user-menu" class="header-dropdown-menu dropdown-menu" role="menu">
          <li class="board-menu-title">{{user.username}}</li>
          <!-- for board in boards -->
          <a class="list-group-item head-dropdown-menu-heading" href="/u/{{user.id}}">Profile</a>
          <a class="list-group-item head-dropdown-menu-heading" href="/u/{{user.id}}/cards">Cards</a>
          <a class="list-group-item head-dropdown-menu-heading" href="/u/{{user.id}}/account">Settings</a>
          <a class="list-group-item head-dropdown-menu-heading" href="/logout">Logout</a>
          <!--end for-->
        </ul>
      </div>
      <div class="js-open-header-menu header-user-notification">
        <a id="notification-menu" data-toggle="dropdown" class="btn btn-header btn-default btn-sm header-btn header-notifications dropdown-toggle" data-target="#">
          <span class="glyphicon glyphicon-bell header-btn-icon"></span>
        </a>
        <ul aria-labelledby="notification-menu" class="header-dropdown-menu dropdown-menu notification-list" role="menu">
          <a class="list-group-item head-dropdown-menu-heading notification-ack" href="#">Acknowledge</a>
          <li class="board-menu-title">Notifications</li>
          <!-- for board in boards -->
          <!--
          <a class="list-group-item head-dropdown-menu-heading notification-item" href="#">Notification 1</a>
          <a class="list-group-item head-dropdown-menu-heading notification-item" href="#">Notification 2</a>
          <a class="list-group-item head-dropdown-menu-heading notification-item" href="#">Notification 3</a>
          <a class="list-group-item head-dropdown-menu-heading notification-item" href="#">See all Notifications</a>
          -->
          <!--end for-->
        </ul>
      </div>
    </div>
  </div>

  {% endif %}
  <!-- Navbar Ends -->


  {% block content %}{% endblock %}


  {% if user %}
  <!--firebase notification on ACTIVITY & CHAT-->
  <script type='text/javascript'>
    var myDataRef = new Firebase('https://dazzling-fire-9098.firebaseio.com/');
    var auth = new FirebaseSimpleLogin(myDataRef, function(error, user) {
        if (!error) {
        // Success!
        }
        else{
            console.log("FIREBASE ERROR: " + error + " " + user);
        }
    });

    auth.login('password', {
      email: 'guangzhegao@gmail.com',
      password: 'root'
    });

    // listen activity other user sends
    myDataRef.child( {{ user.id }} + "/msg_recv").on("child_added",
    function(newMessageSnapshot) {
        //renderNotification(newMessageSnapshot.val());
        //newMessageSnapshot.ref().remove();
        incomeMSG = newMessageSnapshot.val()
        //console.log(typeof incomeMSG.id_sender);
        $("ul.notification-list").append('<a class="list-group-item head-dropdown-menu-heading notification-item" href="#" id="'+ incomeMSG.id_sender +'">'+
            incomeMSG.sender+ ": " + incomeMSG.info_sender + '</a>');
    });


    //Send a message to another user when activity, should be be called by places necessary(new stuff is done)
    var notify_users = function (initiator_id, initiator, user_affected, information){
        myDataRef.child(user_affected).child("msg_recv").push({id_sender: initiator_id, sender: initiator, info_sender: information });
    }

    //remove the notification when be read
    $(document).ready(function() {
        $(document.body).on("click", "a.notification-ack", function(e){
            e.preventDefault();
            myDataRef.child( {{ user.id }} + "/msg_recv").remove(); //remove all acknowledgements in firebase
            $("ul.notification-list").html('<a class="list-group-item head-dropdown-menu-heading notification-ack" href="#">Acknowledge</a>'); //remove all acknowledgements in html
        });
    });


  </script>
  {% endif %}
</body>
</html>