{% extends "base.html" %}

{% block content %}
<div class="float-header">
  <div class="board-header-name dropdown btn left">
    <a data-toggle="dropdown" data-target="#" id="rename-board">
      {{board.title}}
    </a>
    <ul aria-labelledby="rename-board" class="rename-board-menu dropdown-menu" role="menu">
      <li class="rename-board-menu-title">  Rename Board
      </li>
      <form class="dropdown-menu-form">
        <label class="menu-form menu-form-label">Name</label>
        <input id="boardNewTitle" type="text" name="name" class="js-stop-propagation" placeholder="{board.name}">
        <input type="submit" class="btn btn-success" value="Rename">
      </form>
    </ul>
  </div>
  <div class="side-bar-show-btn right">
    <a href="#" class="js-show-side-bar btn"><span class="glyphicon glyphicon-chevron-left"></span> Show Sidebar
    </a>
  </div>

</div>
<div class="side-bar panel panel-default rightpanels-board">
    <div class="members-board">
      <div class="members-header-board">
          Members 
          <a href="#" class="js-close-side-bar" style="color:#a9a9a9"><span class="glyphicon glyphicon-remove" style="float:right;"></span></a>
      </div>
      <div class="members-content-group">
        <ul class="list-group">
          {% for group_user in board.get_users() %}
          <li class="list-group-item board-member-names" id="{{group_user.id}}"> {{group_user.username}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="activity-board">
      <div class="activity-header-board">
        Activity
      </div>
      <div class="activity-list-board">
        <div class="individual-activity-board">
          <div class="user-activity-board">Guangzhe Gao</div>
          <div class="activity-content-board">did not wash his hands.</div>
          <div class="activity-time-board">March 20th 2015 </div>
        </div>

        <div class="individual-activity-board">
          <div class="user-activity-board">Sicheng Liu</div>
          <div class="activity-content-board">did not watch TV.</div>
          <div class="activity-time-board">March 21th 2017 </div>
        </div>
      </div>
    </div>
  </div>
<div class="board-container js-auto-resize-to-full-window container-fluid">
  <div class="js-resize-overflow">
    <!-- To Do List -->
    {% for list in lists %}
    <div class="list-board">
      <div class="list-header-board">
        {{list.title}}
      </div>
      <div class="list-cards">
        {% for card in list.get_cards() %}
        <div class="list-card panel">
          <a class="list-card-hover" data-toggle="modal" data-target="#card-modal-{{card.id}}"><div class="list-card-title">{{card.title}}</div>
            <div class="list-card-badgets">
              <div class="list-card-badget list-card-badgets-comments">
                <span class="glyphicon glyphicon-comment"></span> {{card.get_comment_count()}}
              </div>
              <div class="list-card-badget list-card-badgets-attachments">
                <span class="glyphicon glyphicon-paperclip"></span> 0
              </div>  
            </div>

            <div class="list-card-members">
              <!--for member in card.members-->
              <div class="list-card-member">
                {member.name}
              </div> 
              <!--end for-->
            </div>
          </a> 
          <!-- Modal -->
          <div id="card-modal-{{card.id}}" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="card-modal-0" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="custom-modal-header modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <span class="card-title"><span class="glyphicon glyphicon-th-list"></span> {{card.title}}</span><span class="header-inline">in list <span style="font-weight: bold">{{list.title}}</span></span>            
                  <div class="card-description">
                    {% if card.get_description() %}
                      <div class="card-description-title">Description <a class="js-show-edit-card-desc-form" href="#">Edit</a></div>
                      <div>{{card.get_description()}}</div>
                    {% else %}
                      <span class="glyphicon glyphicon-pencil" style="padding-right:4px;"></span><a class="js-show-edit-card-desc-form" href="#">Edit the desciption...</a>
                    {% endif %}
                  </div>

                  <form name="edit-card-desc">
                    <div class="card-description-title">Description</div>
                    {{ edit_card_desc_form.csrf_token }}
                    <textarea class="list-cards-add-textarea" id="desc" name="desc">{% if card.get_description() %}{{card.get_description()}}{% endif %}</textarea>
                    {{ edit_card_desc_form.card_id(type="hidden", value=card.id)}}
                    <div class="edit-card-desc-form-control">
                      <input type="submit" class="btn btn-success" value="Save" />
                      <a class="close"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                  </form> 
                </div>
                <div class="modal-body">
                  <span class="glyphicon glyphicon-bullhorn" style="padding-right:4px;"></span>Activity
                  <form name="add-comment">
                    {{ add_comment_form.csrf_token }}
                    {{ add_comment_form.comment(class="add-comment-textarea js-card-comment-expand", placeholder="Write a comment...")}}
                    {{ add_comment_form.card_id(type="hidden", value=card.id)}}
                    <div class="edit-card-comment-form-control">
                      <input type="submit" class="btn btn-success" value="Comment" />
                      <a class="close" style="padding-right:440px; padding-top:5px;"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                  </form>
                  {% for comment in card.get_comments() %}
                  <div class="comment-author"> <a href="/u/{{ comment.get_user().id }}">{{ comment.get_user().username }}</a> </div>
                  <div class="comment-content"> {{ comment.content }} </div>
                  <div class="comment-meta"> {{ comment.created_at | timesince }} </div>
                  {% endfor %}
                  <!-- for activity -->
                  <!-- endfor -->    
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div><!-- /.list-card panel -->
        {% endfor %}
        <div  class="js-list-cards-add">
          <a href="#" name="{{list.id}}">
            <div class="list-cards-add">
              Add a card...
            </div>
          </a>
        </div>
        <div class="list-cards-add-form">
          <form name="create_card">
            {{ add_card_form.csrf_token }}
            {{ add_card_form.title(class="list-cards-add-textarea") }}
            {{ add_card_form.list_id(type="hidden", value=list.id)}}
            <div class="list-cards-add-form-control">
              <input type="submit" class="btn btn-success" value="Add" />
              <a class="close"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </form>  
        </div> 
      </div>
    </div>
    <!-- End To Do List -->
    {% endfor %}  
    <div class="add-new-list">
      <a class="js-add-new-list" href="#"><div class="list-board trans-btn">Add a list...</div></a>
      <div class="list-board list-list-add-form">
        <form name='create_list'>
          {{ add_list_form.csrf_token }}
          {{ add_list_form.title(class="list-cards-add-textarea") }}
          {{ add_list_form.board_id(type="hidden", value=board.id)}}
          <div class="list-cards-add-form-control">
            <input type="submit" class="btn btn-success" value="Add" />
            <a class="list-cards-add-form-control close"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>

<!-- the conversation paenl -->
<div class="dropup navbar navbar-fixed-bottom conversation-bar">
  <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
    Conversation
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu conversation-detail-board">
    <!-- chat items -->
    <div class="conversation-content-board">

    </div>

     <div class="conversation-input-board">
      <form id="conversation-text-submit" data-receiver_id="-1"> <!-- don't let submit initially-->
        <input type="text" name="conversation-send" placeholder="type something"><br>
        <input type="submit" value="Send">
      </form>
    </div>

  </div>

</div>

{% endblock %}

{% block javascript %}
<script type='text/javascript'>
  //async post thread
$(document).ready(function(){
  //prevent csrf attack
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
          }
      }
  })

  $(document).on("submit", "form[name='create_card']", function(e){
    e.preventDefault();
    var title = $(this).find("textarea[name='title']").val()
    var list_id = $(this).find("input[name='list_id']").val()
    var div_list_cards = $(this).parent().parent()
    console.log(div_list_cards)
    if($('div[name=server-error]').length > 0){
      $('div[name=server-error]').remove()
    }
    $.ajax({
      type: "POST",
      url: '/c',
      data: {title: title,
             list_id: list_id},
      success: function(result) {
        div_list_cards.find('.list-cards-add-form').hide()
        var card_div = $('<div class="list-card panel"><a class="list-card-hover"><a class="list-card-hover" data-toggle="modal" data-target="#card-modal-0"><div class="list-card-title">{card.title}</div><div class="list-card-badgets"><div class="list-card-badget list-card-badgets-comments"><span class="glyphicon glyphicon-comment"></span> 0</div><div class="list-card-badget list-card-badgets-attachments"><span class="glyphicon glyphicon-paperclip"></span> 0</div></div><div class="list-card-members"><div class="list-card-member">{{title}}</div></div></a></div>')
        div_list_cards.find('.js-list-cards-add').before(card_div);
        div_list_cards.find('.js-list-cards-add').show()
        card_div.find('.list-card-title').html(title);

        {% for users in board.get_users() %}
          notify_users({{ user.id }}, '{{ user.username }}', {{ users.id }}, "created card of name " + title); //is defined in base.html
        {% endfor %}
      },
      error: function(msg) {
        var msg_div = "<div name='server-error' class='alert alert-danger'>Server Error: Please try to submit again later.</div>"
        $('div[name="comment-panel"]').append(msg_div);
      } 
    })
  });
  $("form[name='create_list']").submit(function(e){
      e.preventDefault();
      var title = $(this).find("textarea[name='title']").val();
      var board_id = $(this).find("input[name='board_id']").val();
      if($('div[name=server-error]').length > 0){
        $('div[name=server-error]').remove()
      }

      $.ajax({
        type: "POST",
        url: '/l',
        data: {title: title, board_id: board_id},
        success: function(result) {
          var list_id = result['list_id']
          $(this).find("textarea[name='list_title']").val('');
          var list_div = $('<div class="list-board"><div class="list-header-board"></div><div class="list-cards"><div class="js-list-cards-add"><a href="#"><div class="list-cards-add">Add a card...</div></a></div><div class="list-cards-add-form"><form name="create_card">{{ add_card_form.csrf_token }}{{ add_card_form.title(class="list-cards-add-textarea") }}<input id="list_id" name="list_id" type="hidden" value='+list_id+'><div class="list-cards-add-form-control"><input type="submit" class="btn btn-success" value="Add" /><a class="close"><span class="glyphicon glyphicon-remove"></span></a></div></form></div></div></div>')
          $('.add-new-list').before(list_div);
          list_div.find('.list-cards-add-form').hide()
          list_div.find('.list-header-board').html(title);
          $('.list-list-add-form').hide()
          $('.js-add-new-list').show()

          {% for users in board.get_users() %}
            notify_users({{ user.id }}, '{{ user.username }}', {{ users.id }}, "created list of name " + title ) //is defined in base.html
          {% endfor %}
        },
        error: function(msg) {
          var msg_div = "<div name='server-error' class='alert alert-danger'>Server Error: Please try to submit again later.</div>"
          $('div[name="comment-panel"]').append(msg_div);
        }
    })
  })
  $("form[name='edit-card-desc']").submit(function(e){
      e.preventDefault();
      var desc = $(this).find("textarea[name='desc']").val();
      var card_id = $(this).find("input[name='card_id']").val();
      var div_lists = $(document).find('.add-new-list')
      if($('div[name=server-error]').length > 0){
        $('div[name=server-error]').remove()
      }
      $.ajax({
        type: "POST",
        url: '/c/'+card_id,
        data: {desc: desc, card_id: card_id},
        success: function(result) {
          if (desc == ''){
            var desc_inner = '<span class="glyphicon glyphicon-pencil" style="padding-right:4px;"></span><a class="js-show-edit-card-desc-form" href="#">Edit the desciption...</a>'
          }else{
            var desc_inner = '<div class="card-description-title">Description <a class="js-show-edit-card-desc-form" href="#">Edit</a></div><div>' + desc + '</div>'
          }
          $('.card-description').html(desc_inner)
          $("form[name='edit-card-desc']").hide()
          $('.card-description').show()
        },
        error: function(msg) {
          var msg_div = "<div name='server-error' class='alert alert-danger'>Server Error: Please try to submit again later.</div>"
          $('div[name="comment-panel"]').append(msg_div);
        }
    })
  })  
  $(document).on("submit", "form[name='add-comment']", function(e){
    e.preventDefault();
    var comment = $(this).find("textarea[name='comment']").val();
    var card_id = $(this).find("input[name='card_id']").val();
    console.log(comment, card_id)
    if($('div[name=server-error]').length > 0){
      $('div[name=server-error]').remove()
    }
    $.ajax({
      type: "POST",
      url: '/c/'+card_id+'/comments',
      data: {comment: comment, card_id: card_id},
      success: function(result) {
        var comment_div = "<div class='comment-author'><a href='/u/{{current_user.id}}'>{{current_user.username }}</a></div><div class='comment-content'>"+ comment +"</div><div class='comment-meta'>1 second ago</div>"
        $("form[name='add-comment']").after(comment_div)
        $(".edit-card-comment-form-control").hide()
        $(".js-card-comment-expand").animate({
          height:36
        }, 30)
      },
      error: function(msg) {

      }
    })
  })

})
</script>

<!-- control chatting -->
<script type='text/javascript'>


   $(document).ready(function() {
       //prevent close of content
       $(document).on('click', 'div.dropdown-menu', function (e) {
            e.stopPropagation();
        });

       //send new data
        $(document.body).on("submit", "form#conversation-text-submit", function(e){
            e.preventDefault();

            //(id1, id2, sendername, sender text)
            id1 = "{{ user.id }}";
            id2 =  $(this).data("receiver_id");
            sender_name = "{{ user.username }}"

            if(id2 == "-1"){ //don't let send to nobody
                return;
            }

            sender_input_element = $(this).children("input[name='conversation-send']").eq(0);
            sender_text = sender_input_element.val();
            sender_input_element.val(""); //set input to empty

            send_chat_users(id1, id2, sender_name, sender_text);
            //$("div.conversation-content-board").append(sender_name + ": " + sender_text + " " + getDateTime()); //append the chat to list
        });


          //open the chat panel when member is clicked, (meaning the user wants to check chat)
          $(document).on("click", "li.board-member-names", function(e){
            id_first = $(this).attr("id");
            id_second = "{{ user.id }}";
            //alert(id_first + " " + id_second)
            if( id_first != id_second ){    //only open bar if not same id
                if(!$("div.conversation-bar").hasClass("open")){
                    $("div.conversation-bar").addClass("open");
                    $("form#conversation-text-submit").data("receiver_id", id_first);
                    load_chat_users(id_first, id_second);
                }
            }
            e.stopPropagation(); //prevent conversation-bar close
          })

    });

   var current_chat_with = "NO"; //update reference of who is chatting with to close old chat event and open new one

   function getDateTime() {
        var now     = new Date();
        var year    = now.getFullYear();
        var month   = now.getMonth()+1;
        var day     = now.getDate();
        var hour    = now.getHours();
        var minute  = now.getMinutes();
        var second  = now.getSeconds();
        if(month.toString().length == 1) {
            var month = '0'+month;
        }
        if(day.toString().length == 1) {
            var day = '0'+day;
        }
        if(hour.toString().length == 1) {
            var hour = '0'+hour;
        }
        if(minute.toString().length == 1) {
            var minute = '0'+minute;
        }
        if(second.toString().length == 1) {
            var second = '0'+second;
        }
        var dateTime = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
        return dateTime;
    }

    //send chat between users
    var send_chat_users = function(id_first, id_second, sender_name, sender_text){
        if(id_first == id_second){
            return; //no chat with self
        }
        concatenated_id = "";
        if(parseInt(id_first,10) < parseInt(id_second, 10)){
            concatenated_id = id_first + " " + id_second;
        }
        else{
            concatenated_id = id_second + " " + id_first;
        }
        myDataRef.child( concatenated_id + "/chat_recv").push({info_detail: sender_name + ": " + sender_text + " " + getDateTime()});
    }

    //load chat between users
    var load_chat_users = function(id_first, id_second){
        if(id_first == id_second){
            return; //can not chat with self
        }
        concatenated_id = "";
        if(parseInt(id_first,10) < parseInt(id_second, 10)){ //convention, smaller first
            concatenated_id = id_first + " " + id_second;
        }
        else{
            concatenated_id = id_second + " " + id_first;
        }

        if(current_chat_with != "NO" ){ //has a connection event
            current_chat_with.off("child_added", update_chat_firebase); //cut connection with previous talker
        }
        //get all values of chat, do once, not keep listening
        $("div.conversation-content-board").empty(); //remove entries with previous talker
        current_chat_with = myDataRef.child( concatenated_id + "/chat_recv"); //renew reference
        current_chat_with.on("child_added", update_chat_firebase); //attach new refence
      }

      //helper that works on data firebase returns for html
      var update_chat_firebase = function(snapshot){
            $("div.conversation-content-board").append("<div>" + snapshot.val()["info_detail"] + "</div>");
            /* originally use once listener, not real time, so we use on
            snapVal = snapshot.val()
            alert(JSON.stringify(snapVal));
            for (var key in snapVal) { //key is "hashcode of firebase"
                alert(key + " -> " + snapVal[key]["info_detail"]);
                $("div.conversation-content-board").append("<div>" + snapVal[key]["info_detail"] + "</div>");
            }
            */
      }
</script>

{% endblock %}