{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <!-- for group in groups -->
  <div class="board-group-widget">
    <div class="board-group-title">
       <h3><span class="glyphicon glyphicon-user"></span> {group.name}</h3>
    </div>
    <ul class="board-group-list">
      <!-- for board in boards-->
      <li>
        <a href="/">
        <div class="board-detail-panel panel panel-default active">
            <div class="panel-body">
              {board.name}
            </div>
        </div>
        </a>
      </li>
      <!-- end for board -->
    </ul>
  </div>
  <!-- end for group -->
</div>
{% endblock %}

