{% extends "base.html" %}

{% block content %}

<div id="welcome">Welcome to Sorbitol !</div>

<form class="col-md-10" method="POST" action="/login" role="form">
        {{ form.csrf_token }}
        {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        <div class="login-form-group">
                {{ form.email(class="form-control", placeholder="Email") }}
        </div>
        <div class="login-form-group">
                {{form.label}}{{ form.password(class="form-control",  placeholder="Password") }}
        </div>
        <div class="login-form-group">
            <div class="">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascript %}

<script type='text/javascript'>
    $(document).ready(function() {
        $(document.body).addClass("gradual-background");
    });
</script>

{% endblock %}